/* Enable smooth scrolling for entire page */
html {
    scroll-behavior: smooth;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #555;
}

/* Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative; /* For dropdown positioning */
    justify-content: space-between;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.toggle-button-and-logo {
    display: flex;
}
.toggle-button {
    padding: 15px;
    align-content: center;
}

.logo {
    padding: 15px; 
}

.navbar:hover{
    background: linear-gradient(to right, #feb47b, #ff7e5f);
}

nav {
/*     flex: 1; */
    text-align: right;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    position: relative;
    padding: 15px;
}

nav ul li a {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: color 0.5s ease, background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: rgba(255, 255, 255, 0.1); 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

nav ul li a:hover{
    color: #fff;
    background-color: #E64A35;
    box-shadow: o 6px 12px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
}

nav ul li a::after {
    content: '';
    display: block;
    height: 3px;
    background: #fff;
    width: 0;
    transition: width 0.3s ease;
    position: absolute;
    left: 0;
    bottom: -5px;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Navbar Toggle Button */
.toggle-button {
    display: none; /* Hidden by default */
    font-size: 24px;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease; /* Smooth transition for icon color */
}

.toggle-button:hover {
    color: #E64A35; /* Change icon color on hover */
}

/* Dropdown Menu Styles */
.dropdown {
    display: none; /* Hide dropdown by default */
    position: absolute;
    top: 100%;
    right: 0;
    background: white; /* Background for dropdown */
    border: 1px solid #ccc; /* Border for dropdown */
    z-index: 1000; /* Ensure it appears above other content */
}

nav ul li:hover .dropdown {
    display: block; /* Show dropdown on hover in desktop view */
}

@media (max-width: 768px) {
    nav ul {
        display: none; /* Hide the original menu on small screens */
        flex-direction: column; /* Stack menu items vertically */
        background-color: #fff;
        width: 100%;
        position: absolute;
        top: 60px; /* Positioned below the navbar */
        right: 0;
        border-top: 1px solid #ccc;
        padding: 20px 0;
        transition: max-height 0.3s ease;
    }

    nav ul li{
        margin: 10px 0;
    }

    .navbar.active nav ul {
        display: flex; /* Show the menu when activated */
    }

    /* Dropdown Menu for Mobile */
    nav ul li .dropdown {
        display: none; /* Hide dropdown by default */
        position: relative;
        width: 100%;
    }

    nav ul li.active .dropdown {
        display: block; /* Show dropdown when parent li is active */
    }


    .navbar.active.toggle-button{
        color: #E64A35;
    }

    .navbar.active nav ul {
        display: flex;
    }

    .toggle-button {
        display: block; /* Hide toggle button by default */
    }
}



/* Container Styles */
.container {
    max-width: 1300px;
    padding: 0 25px;
    margin: auto;
}

/* Head Section */
.head {
    display: flex;
}

p {
    color: #555;
}

/* Grid System */
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col2 h1 {
    font-size: 50px;
    line-height: 40px;
    margin: 25px 0;
}

/* Featured Categories */
.responsive-image {
    max-width: 80%;
    max-height: 80%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
    padding: 25px;
}

/* Offer Section */
.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.small-container1 {
    display: flex;
    width: 108px;
}

.small-container1 img {
    max-height: 100px;
    width: 30px;
}

.offer .col2 img {
    max-width: 350px; /* Adjust the value as needed */
    max-height: 350px; /* Adjust the value as needed */
}

.offer {
    text-align: center;
}

.offer .col2 img {
    max-width: 100%;
    height: auto;
}


/* Brands Section */
h2 {
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 30px;
}

.brands {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.brands ul {
    display: flex;
}

.brands img {
    width: 100%;
    height: 60px;
    cursor: pointer;
    filter: grayscale(100%);
}

.brands img:hover {
    filter: grayscale(0);
}

/* Back to Top Button */
#backToTop {
    display: none; /* Hidden initially */
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100; /* Ensure it appears above other content */
    background-color: #ff7e5f; /* Button color */
    color: black;
    border: none;
    padding: 30px;
    font-size: 25px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s; /* Smooth hover effect */
}

#backToTop:hover {
    background-color: #feb47b; /* Lighter on hover */
    transform: scale(1.1); /* Scaling effect */
}

/* Footer Styles */
/* Footer Styles */
.footer {
    background: linear-gradient(to right, #0f0f0f, #232323);
    color: #d3d3d3;
    padding: 60px 0;
    position: relative;
    text-align: center;
}

.footer h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.footer .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    flex: 1;
    padding: 20px;
}

.footer-col-1 img, .footer-col-2 img {
    max-width: 150px;
    margin: 10px;
}

.footer p {
    color: #a0a0a0;
    line-height: 1.5;
    font-size: 16px;
}

.footer ul {
    list-style-type: none;
}

.footer ul li {
    margin: 10px 0;
}

.footer ul li a {
    color: #a0a0a0;
    text-decoration: none;
    transition: color 0.3s;
}

.footer ul li a:hover {
    color: #ff7e5f;
}

.footer .app img {
    width: 120px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.footer .app img:hover {
    transform: scale(1.1);
}

.copyright {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #333;
    color: #a0a0a0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
    }

    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
        text-align: center;
        margin-bottom: 30px;
    }
}


/* Responsive Styles */
@media (max-width: 1200px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .col2, .col3 {
        flex-basis: 100%; /* Stack columns */
        min-width: auto; /* Reset min-width */
    }

    .navbar {
        flex-direction: column; /* Stack navbar items vertically */
        align-items: flex-start; /* Align items to the start */
    }

    nav {
        text-align: left; /* Align text to the left */
    }

    nav ul li {
        margin-right: 10px; /* Reduce margin */
    }
}

@media (max-width: 768px) {
    nav ul {
        display: none; /* Hide the original menu on small screens */
        flex-direction: column; /* Stack menu items vertically */
    }

    .navbar.active nav ul {
        display: flex; /* Show the menu when activated */
    }

    .dropdown {
        display: block; /* Show dropdown on hover or click */
    }

    .navbar .toggle-button {
        display: block; /* Show toggle button */
        cursor: pointer; /* Change cursor to pointer */
    }

    .toggle-button {
        display: none; /* Hide toggle button by default */
    }

    .head {
        flex-direction: column; /* Stack head elements */
        align-items: center; /* Center align */
    }

    .col2 h1 {
        font-size: 36px; /* Smaller heading */
        line-height: 32px; /* Adjust line height */
    }

    .offer {
        padding: 20px 0; /* Reduce padding */
    }

    .brands img {
        height: 50px; /* Reduce brand image size */
    }

    #backToTop {
        padding: 15px; /* Adjust padding */
        font-size: 20px; /* Smaller font */
    }

    .footer {
        padding: 40px 0; /* Adjust footer padding */
    }

    .footer-col-2 img {
        padding-left: 30px; /* Adjust padding for footer image */
    }
}

@media (max-width: 480px) {
    nav ul li {
        margin-right: 5px; /* Further reduce margin */
    }

    .col2 img {
        padding: 20px 0; /* Reduce padding around images */
    }

    .small-container {
        padding-left: 15px; /* Reduce padding */
        padding-right: 15px; /* Reduce padding */
    }

    h2 {
        font-size: 24px; /* Smaller heading */
    }
}
