@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0f7fa;
}
.container {
    text-align: center;
    padding: 20px;
    background-color: #ffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1 {
    font-size: 36px;
    color: #333;
}
p {
    font-size: 16px;
    color: #666;
}
.buttons a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.buttons a:hover {
    background-color: #e64a19;
}
